#include "torabo_tsuki_lp.dtsi"
#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>

&zip_temp_layer {
    require-prior-idle-ms = <200>;
    excluded-positions = <
        33 //J
        34 //K
        35 //L
        36 //;
    >;
};

&trackball_listener {
    input-processors = <
        &zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)
        &zip_temp_layere 5 10000
    >;
    scroller {
        layers = <4>;
        input-processors = <
            &zip_xy_to_scroll_mapper
            &zip_scroll_scaler 1 8
            &zip_scroll_transform INPUT_TRANSFORM_X_INVERT
        >;
    };
};

&mkp_input_listener {
    input-processors = <&zip_temp_layer 5 10000>;
};
